.project-details {
  padding: 20px;
}

.projects {
  flex: 3 1 0%;
}

.title {
  font-weight: 400;
}

.status-badge {
  margin-top: 10px;
  padding: 3px 12px;
  border-radius: 5px;
  width: max-content;
  background-color: rgb(181, 248, 163);
}

.primary-card {
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  box-shadow: rgba(214, 214, 214, 0.5) 2px 1px 20px;
  background-color: white;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.commit {
  color: gray;
  font-weight: 400;
  cursor: pointer;
}

.avatar {
  color: white;
  background-color: black;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.project-detail-card {
  padding: 20px;
  min-width: 350px;
  width: 100%;
  box-sizing: border-box;
}

.project-detail-tags {
  display: flex;
  flex-wrap: wrap;
}

.project-detail-tags div {
  padding: 3px 12px;
  border-radius: 5px;
  width: max-content;
  background-color: rgb(229, 216, 252);
}
